@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

a {
    text-decoration: none;
  }
  
  nav {
    font-family: 'Inter', sans-serif;
  }
  
  ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #fff;
    background: rgb(194, 193, 191);;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover {
    border-bottom: 2px solid #fff;
    cursor: pointer;
  }
  
  ul li ul {
    background: rgb(194, 193, 191);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }